
/* General */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff
}

section {
  padding: 100px 0;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

.nav-list {
  flex-direction: row;
}

.desktop-nav {
  display: block;
}

.mobile-nav {
  display: none;
}

.navbar-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (max-width:768px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    background-color: #ffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(86deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  background-size: cover;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color:#fff!important;
}

.hero h2 {
  color: rgba(255, 255, 255, 0.5) !important;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #00ba94;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .hero-img {
  text-align: right;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.svg-border-rounded svg {
  position: absolute;
  left: 0;
  height: 1rem;
  width: 100%;
}

@media (min-width: 576px) {
  .svg-border-rounded svg {
    height: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
  .svg-border-rounded svg {
    height: 8rem;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
  .svg-border-rounded svg {
    height: 2.5rem;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
  .svg-border-rounded svg {
    height: 3.75rem;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# event class
--------------------------------------------------------------*/

.card-event {
  border-radius: 15px;
}

.card-event .card-header {
  border-radius: 15px;
}

.poster-event {
  position: relative;
  width: 100%;
  border-radius: 15px;
  height: 22rem;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}